<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="post" action="/">
		<div><input autofocus name="name" placeholder="name"></div>
		<div><input name="email" placeholder="email"></div>
		<div><input name="street" placeholder="street"></div>
		<button type="submit">Submit</button>
	</form>
</body>
</html>
